.photo-container {
  padding: 80px 20px;
  text-align: center;
  background-image: url(../src/jppaper-4.jpg);
  background-size: auto;
  text-align: center;
  .text-center {
    margin: 30px auto;
    color: $main-red;
    letter-spacing: 10px;
    font-size: 3rem;
  }
}

.carousel {
  margin-top: 30px;
  padding: 20px 4rem;
}

.carousel-inner {
  padding: 4rem 4rem;
}

.detail-text{
  font-size: 20px;
}

.video-container{
  padding: 35px 5rem 50px 5rem;
  text-align: center;
  background-image: url(../src/jppaper-4.jpg);
  background-size: auto;
}

.card iframe {
  height: 800px;
}

.video-text{
  margin-top: 20px;
  font-size: smaller;
}

@media only screen and (max-width:600px) {
  .photo-container {
    .text-center{
      font-size: 2rem;
    }
  }

  .carousel-inner {
    padding: 0.5rem 0.5rem;
  }

  .card iframe {
    height: 400px;
  }

  .detail-text{
    font-size: 20px;
  }

}
