.photo-container {
  padding: 30px 20px;
  text-align: center;
}

.carousel {
  padding: 15px 3rem;
}

.carousel-text-container{
  .carousel-text{
    span{
      font-size: smaller;
    }
  }
}

.video-container{
  margin: 35px 40px 50px 40px;
  text-align: center;
}

.card iframe {
  height: 300px;
}

.video-text{
  margin-top: 20px;
  font-size: smaller;
}
