/////////////// FOOD MENU AREA  //////////////////////

.foodmenu-container{
  padding: 80px 0;
  // background-color: #f7f4f0;
  background-image: url(../src/jppaper-1.jpg);
  background-size: auto;

  .foodmenu-title{
    text-align: center;
    margin-bottom: 30px;
    h2{
      margin: 30px auto;
      color: $main-red;
      letter-spacing: 10px;
      font-weight: 800;
      font-size: 3rem;
    }
  }
}

.wrap{
  margin-bottom: 60px;
  padding: 50px 0;
  img{
    width: 60%;
    border-radius: 3px;
    margin-left: 0;
  }
  p, h4{
    padding: 10px 20px 0 40px;
  }
}

.menu-photo{
  margin-bottom: 22px;

}

.menu-left{
  text-align: left;
  img{
    box-shadow: 40px 40px 0 #c5ab27;
  }
}

.menu-right{
  text-align: right;
  img{
    box-shadow: -40px 40px 0 #c3a400;
  }
}

.menu-detail{
  letter-spacing: 2px;
  color: #3D3D3D;
  z-index: -10;
  padding-top: 30px;

  h4{
    font-weight: 600;
    color: $main-red;
  }
}

.menu-detail-right{
  text-align: right;
}


.menu-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.another-menu{
  text-align: center;
}

.btn{
  border-top: solid 1px $title-brown;
  border-bottom: solid 1px $title-brown;
  background: #663d24;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
}

.btn span {
  z-index: 1;
  position: relative;

}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 140px;
  transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
  transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
  background-color: #f7f4f0;
  opacity: 0;
}

.btn:hover span {
  color: #4b4a4a
}

.btn:hover::before {
  opacity: 1;
  transition-duration: .85s;
  transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}

.menuButton{
  width: 60%;
}

.btn-close{
  width: 20%;
}

/////////////////////// Menu Page!!! /////////////////////////

.link-container{
  background-color: $main-brown;
  .link-top{
    font-family: 'Noto Sans JP', sans-serif;;
    margin: 0;
    // background-color: #c5b596;
    font-size: 13px;
    padding: 5px 15px;
    color: #4b4a4a;
    li{
      display: inline-block;
      color: #4b4a4a;
      a {
        text-decoration: none;
        color: #4b4a4a;
      }
    }
  }
}

.menu_area{
  color: #faf0e0;
  padding: 30px 60px;
  text-align: center;
  background-image: url(../src/jppaper-3.jpg);
}

.menu-list{
  padding: 20px 40px;
  color: #5c4e40;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.menu-container{
  background-color: #f7f4f0;
  padding: 20px 10px;
  .menu-title {
    margin: 0 auto;
    text-align: center;
    img{
      width: 70%;
    }
  }
}

.categories{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 80px;
  list-style: none;
  padding: 20px 50px;

  li{
    border: #c0bebe 1px solid;
    border-radius: 3px;
    height: 400px;
    padding: 20px 20px;
    background: #FBFAF8;
    position: relative;

    .category{
      padding: 10px 10px;
      border: $dark-grey 5px solid;
      text-decoration: none;
      color: $dark-grey;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 1fr;
      align-items: center;
      justify-content: center;
      background-color: #FBFAF8;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all  0.3s ease;
    }
    .category:hover{
      background-color: $main-brown;
      color: white;
    }
    .photo{
      img{
        width: 80%;
        height: 250px;
        object-fit: cover;
      }
    }
    .text{
      vertical-align: middle;
      letter-spacing: 1px;
      font-size: 2rem;
    }
  }
}
.menu-additional-box{
  margin: 40px auto;
}
.additional-box{
  margin: 0 auto;
  // background-color: white;
  width: 70%;
  padding: 3px 5px;
  color: #4b4a4a;
  background-size: 3px calc(100% + 20px), calc(100% + 20px) 3px, 3px calc(100% + 20px) , calc(100% + 20px) 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  p{
    margin: 10px 10px;
  }
}


@media only screen and (max-width:600px) {

  .foodmenu-container{
    .foodmenu-title{
      h2{
        font-size: 2rem;
      }
    }
  }

  .wrap{
    margin-bottom: 60px;
    padding: 50px 0;
    img{
      width: 85%;
    }
  }

  .menu_area{
    padding: 30px 20px;
  }
  .categories{
  grid-template-columns: 1fr;
  column-gap: 10px;
  padding: 20px 20px;
    li{
      height: 300px;
      margin-bottom: 15px;
      .photo{
        img{
          height: 150px;
        }
      }
      .text{
        font-size: 20px;
      }
      .category{
        height: 100%;
        grid-template-columns: none;
      }
    }
  }


  .foodmenu-title{
    img{
      width: 80%;
    }
  }

  .btn-close{
    width: 100%;
  }
}

