.navbar {
  background-color: $main-red;
  padding: 20px 10px;
}

.navbar-brand {
  color: white;
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.nav-link {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.nav-logo{
  width: 10rem;
}
