*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}
// font-family: 'Sawarabi Mincho', sans-serif;

.top-items {
  margin: 0 auto;
}

.top-image {
  background-size: cover;
  object-fit: cover;
  height: 100vh;
}
.top-image-first{
  background-image: url(../src/fake-top.jpg);
  position: relative;
}
.top-image-first::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}


.top-image-second{
  background-image: url(../src/inside1.jpg);
  position: relative;
  padding: 30px;
}

.top-image-second::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.top-text {
  text-align: center;
  letter-spacing: 3px;
  z-index: 100;
}

.top-text-box{
  color: white;
  font-weight: 500;
  position: absolute;
  top: 55%;
  right: 5%;
  h2{
    margin-bottom: 2rem;
  }
  p{
    line-height: 30px;
  }
}

.corona-info-container{
  background-image: url(../src/jppaper-1.jpg);
  padding: 40px 80px;
  height: 70vh;
  .corona-title{
    margin: 0 auto;
    margin-bottom: 20px;
    h4{
      color: $main-red;
      text-align: center;
      font-size: 1.2rem;
      padding: 6px 5px;
      // max-width: 80%;
    }
  }
  .corona-detail{
    padding: 20px 20px;
    line-height: 40px;
    margin: 0 auto;
    // max-width: 90%;
  }
}

.top-message-image{
  padding: 40px 50px;
}

.top-message-box {
  z-index: 100;
  color: white;
  padding: 35px 30px;
  h2{
    margin-bottom: 30px;
    z-index: 10;
  }
  p{
    line-height: 35px;
  }
}

