*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
}
// font-family: 'Sawarabi Mincho', sans-serif;

.top-items {
  margin: 0 auto;
}

.top-image {
  background-size: cover;
  object-fit: cover;
  height: 100vh;
}
.top-image-first{
  background-image: url(../src/fake-top.jpg);
  position: relative;
}
.top-image-first::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}


.top-image-second{
  height: auto;
  background-image: url(../src/inside1.jpg);
  position: relative;
  padding: 60px 20px;
  z-index: -1;
  margin: 0 auto;
  text-align: center;
}

.top-image-second::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}

.top-text {
  text-align: center;
  letter-spacing: 3px;
  z-index: 100;
}
  .top-text-box{
    color: white;
    font-weight: 500;
    position: absolute;
    top: 45%;
    right: 5%;
    h2{
      margin-bottom: 2rem;
      font-size: 3rem;
    }
    p{
      font-size: 1.5rem;
      line-height: 50px;
      letter-spacing: 13px;
    }
}


.corona-info-container{
  background-image: url(../src/jppaper-1.jpg);
  padding: 70px 40px;
  height: auto;
  .corona-title{
    margin: 0 auto;
    margin-bottom: 20px;
    h4{
      color: $main-red;
      text-align: center;
      font-size: 1.2rem;
      padding: 6px 5px;
    }
  }
  .corona-detail{
    text-align: center;
    padding: 20px 20px;
    line-height: 40px;
    margin: 0 auto;
    p{
      letter-spacing: 2px;
      i{
        color: $main-red;
      }
    }
  }
}

.top-message-image{
  padding: 40px 50px;
}

.top-message-box {
  z-index: 100;
  color: white;
  padding: 40px 10px;
  h2{
    font-size: 3rem;
    margin-bottom: 3.2rem;
  }
  p{
    line-height: 50px;
    // max-width: 770px;
    padding: 50px 0;
  }
}

@media only screen and (max-width:600px) {

  .top-text-box{
    right: 0%;
    h2{
      font-size: 2.2rem;
    }
    p{
      font-size: 1.2rem;
      letter-spacing: 9px;
    }
  }

  .top-message-box {
    z-index: 100;
    color: white;
    padding: 0px 0px;
    h2{
      font-size: 2rem;
      line-height: 50px;
      margin-bottom: 5px;
    }
    p{
      line-height: 50px;
      max-width: 770px;
      padding: 50px 0;
    }
  }
  .corona-info-container {
    padding: 70px 20px;
  }
}

@media only screen and (max-width:350px) {
.footer-container{
  text-align: none;
}
.footer-one{
  img{
    width: 70%;
  }
}
.footer-three{
  padding: 20px 5px;
}
.iframe-map{
  width: 60%;
}
}

