*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Sawarabi Mincho', sans-serif;
}

// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Sawarabi Mincho', sans-serif;

.top-items {
  margin: 0 auto;
}

.top-image {
  background-size: cover;
  object-fit: cover;
}
.top-image-first{
  background-image: url(../src/fake-top.jpg);
  height: 70vh;
  position: relative;
}
.top-image-second{
  background-image: url(../src/inside1.jpg);
}

.top-text {
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.top-text-box{
  color: white;
  font-weight: 500;
  position: absolute;
  top: 55%;
  right: 5%;
}

.corona-info-container{
  background-color: $main-cream;
  padding: 40px 80px;
  .corona-title{
    margin: 0 auto;
    width: 20rem;
    margin-bottom: 30px;
    h4{
      color: white;
      text-align: center;
      background-color: $main-red;
      font-size: 1rem;
      padding: 6px 5px;
    }
  }
  .corona-detail{
    border: solid 2px black;
  }
}

.top-message-image{
  padding: 40px 50px;
}

.top-message-box {
  background-color: rgba(31, 30, 30, 0.5);
  color: white;
  padding: 35px 30px;
  h2{
    margin-bottom: 30px;
  }
}

